{% extends "index.html" %}
{% block title %}Home{% endblock title %}
{% block body %}

<!-- ================= Hero Section ====================== -->
<section id="hero">
  <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

    <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

    <div class="carousel-inner" role="listbox">

      <!-- Slide 1 -->
      <div class="carousel-item active" style="background-image: url(/static/img/slide/slide-1.jpg)">
        <div class="carousel-container">
          <div class="container">
            <h2 class="animate__animated animate__fadeInDown">Welcome to <span>Kasturba Ahargruh</span></h2> -->
            <p class="animate__animated animate__fadeInUp">This is unique canteen. it's run by students of the Gujarat
              Vidyapith, which was established by Mahatma Gandhi in 1920. This is the only canteen which don't provide
              fast food. We only provide food which is healthy for you body. </p>
            <a href="/aboutus.html" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
            -->
          </div>
        </div>
      </div>

      <!-- Slide 2 -->
      <div class="carousel-item" style="background-image: url(/static/img/slide/slide-2.jpg)">
        <div class="carousel-container">
          <div class="container">
            <h2 class="animate__animated animate__fadeInDown">Lorem Ipsum Dolor</h2>
            <p class="animate__animated animate__fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut
              et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse
              doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
            <a href="/aboutus.html" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
          </div>
        </div>
      </div>

      <!-- Slide 3 -->
      <div class="carousel-item" style="background-image: url(/static/img/slide/slide-3.jpg)">
        <div class="carousel-container">
          <div class="container">
            <h2 class="animate__animated animate__fadeInDown">Sequi ea ut et est quaerat</h2>
            <p class="animate__animated animate__fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut
              et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse
              doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
            <a href="/aboutus.html" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
          </div>
        </div>
      </div>

    </div>

    <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
    </a>

    <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
    </a>

  </div>
</section>

<!-- ====================== END Hero Section =============== -->


<!-- ====================== PRINCIPLE Section =============== -->
<section id="services" class="services">
  <div class="container">
    <div class="section-title">
      <h2>OUR PRINCIPLES</h2>
    </div>
  </div>
</section>


<section id="principle" class="principle">
  <div class="container" id="principle">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="principle-div">
          <i class="fa fa-mobile"></i>
          <!-- <a href="#"><img src="/static/img/principles/recycle.png"></a> -->
        </div>
        <h4>RECYCLE</h4>
      </div><!-- End col-md-3-->
      <div class="col-md-3 col-sm-6">
        <div class="principle-div">
          <i class="fa fa-code"></i>
          <h4>Clean Code</h4>
        </div>
      </div><!-- End col-md-3-->
      <div class="col-md-3 col-sm-6">
        <div class="principle-div">
          <i class="fa fa-life-ring"></i>
          <h4>24/7 Support</h4>
        </div>
      </div><!-- End col-md-3-->
      <div class="col-md-3 col-sm-6">
        <div class="principle-div">
          <i class="fa fa-pencil"></i>
          <h4>Modern Design</h4>
        </div>
      </div><!-- End col-md-3-->
    </div><!-- End row -->
  </div><!-- End Container -->

</section>
<!--===============  END PRINCIPLE SERVICES  =========================-->

<!--======================EVENT PANNEL=======================-->
<section id="events" class="events">
  <div class="container">
    <div class="section-title">
      <h2>EVENTS</h2>
    </div>
  </div>
</section>


<!--=====================END EVENT PANNEL======================-->


<!--===============Our Products============================-->
<section id="products" class="products">
  <div class="container">
    <div class="section-title">
      <h2>OUR PRODUCTS</h2>
    </div>
  </div>
</section>




<!--==================END PRODUCTS=======================-->

<!--===============  About Kasturba Aramgruh  ==============-->
<section id="about" class="about">
  <div class="container">
    <div class="section-title">
      <h2>ABOUT US</h2>
    </div>
  </div>
</section>



<!--===============  END ABOUT  ============================-->

<!--===============  SOCIAL MEDIA ==============-->
<section id="social-links" class="social-links">
  <div class="container">
    <div class="section-title">
      <h2>SOCIAL MEDIA</h2>
    </div>
  </div>
</section>



<!--===============  END SOCIAL MEDIA  ============================-->

<!--===============  FEATURED ==============-->
<section id="features" class="features">
  <div class="container">
    <div class="section-title">
      <h2>FEATURED</h2>
    </div>
  </div>
</section>



<!--===============  END FEATURED  ============================-->


<!--================  Footer-1  =========================-->

<div class="container" id="footer-1">
  <div class="row">
    <div class="text-center g-pad-bottom">
      <div class="col-md-5 col-sm-4 alert-info">
        <h4>LATEST ON KASTURBA AHARGRUH</h4><br>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
      </div>

      <div class="col-md-4 col-sm-4 alert-success">

        <h4>PROUDLY MADE IN INDIA</h4><br>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
      </div>

      <div class="col-md-4 col-sm-4 alert-danger">
        <h4>CUSTOMER SUPPORT</h4><br>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
      </div>
    </div>
  </div>
</div>

<!--================  Footer-1 END  =========================-->
{% endblock body %}